#Script for URL rewriting
#The line below may exist.
RewriteEngine On
#Rewrite all the rules, with / as the base, not requesting any other file or folder.
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([a-z]+)\/?$ $1.php [NC]


RewriteEngine On

# Remove .php extension from URLs
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ $1.php [L]

# Optional: Redirect from .php URLs to clean URLs
RewriteCond %{THE_REQUEST} \s/([^.]+)\.php[?\s] [NC]
RewriteRule ^ %1 [R=301,L]